fastapi
uvicorn
pymongo
python-dotenv
gridfs
pydub
SpeechRecognition
google-generativeai
pydantic
gtts
googletrans==4.0.0rc1
google-genai
python-multipart
nltk
numpy
tensorflow
opencv-python==4.8.1.78
Pillow==10.1.0
python-multipart==0.0.6