fastapi
uvicorn
pymongo
python-dotenv
pydub
SpeechRecognition
google-generativeai
# gridfs
pydantic
gtts
googletrans==4.0.0rc1
google-genai
python-multipart
nltk
numpy<2.0.0
tensorflow
opencv-python==4.8.1.78
Pillow==10.1.0
python-multipart==0.0.6